@model PayRoll.TSC.PayRollModel.LeaveRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaveRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffNo" class="control-label"></label>
                <input asp-for="StaffNo" class="form-control" />
                <span asp-validation-for="StaffNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDaysAvailable" class="control-label"></label>
                <input asp-for="LeaveDaysAvailable" class="form-control" />
                <span asp-validation-for="LeaveDaysAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveStartDate" class="control-label"></label>
                <input asp-for="LeaveStartDate" class="form-control" />
                <span asp-validation-for="LeaveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfDays" class="control-label"></label>
                <input asp-for="NoOfDays" class="form-control" />
                <span asp-validation-for="NoOfDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveAllowanceID" class="control-label"></label>
                <select asp-for="LeaveAllowanceID" class ="form-control" asp-items="ViewBag.LeaveAllowanceID"></select>
            </div>
            <div class="form-group">
                <label asp-for="AllowanceAmount" class="control-label"></label>
                <input asp-for="AllowanceAmount" class="form-control" />
                <span asp-validation-for="AllowanceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReasonForLeave" class="control-label"></label>
                <textarea asp-for="ReasonForLeave" class="form-control"></textarea>
                <span asp-validation-for="ReasonForLeave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
